/* Friend Finder style.css */

body {
  background-image: url("/images/adult-backlit-beach-1000445.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2 {
  color: #512207;
}

h3,
h4 {
  color: #faf0cc;
  margin-top: 10px;
}

form {
  background-color: #512207;
  opacity: 0.6;
  margin: 5px;
  padding: 20px;
}
